@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@400;500&family=Roboto&family=Rubik:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.nav-list{
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

.nav-list:hover{
    color: orange;
    font-size: 18px;
    
}

body{
    font-family: Montserrat;
}